{{ use('app/assets/AppAsset')}}
{{ register_app_asset() }}
{{ this.beginPage() }}
<!doctype html>
<html lang="{{app.language}}">
<head>
    <meta charset="{{app.charset}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {{ html.csrfMetaTags() | raw }}
    <title>{{ html.encode(this.title) }}</title>
    {{ this.head() }}
</head>
<body>
    {{ this.beginBody() }}
    <div class="wrap">
        <div class="container col-lg-12">
            {{ content | raw }}
        </div>
    </div>
    {{ this.endBody() }}
</body>
</html>
{{ this.endPage() }}
