{{ use('app/assets/AppAsset') }}
{{ use('yii/bootstrap/Alert') }}
{{ register_app_asset() }}
{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{app.language}}">
<head>
    <meta charset="{{app.charset}}"/>
    <title>WMBOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="//jquery.com/jquery-wp-content/themes/jquery/js/jquery-1.11.2.min.js"><\/script>')</script>
    {{ html.csrfMetaTags() | raw }}
    {{ this.head() }}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WMBOT v{{app.params['version']}}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path(['site/index']) }}">Главная</a></li>
                        <li><a href="{{ path(['site/config']) }}">Настройки</a></li>
                        <li>
                            <a href="{{ path(['site/history']) }}">
                                Заявки
                                <span class="label label-success" id="bids">{{this.params['active_bids']}}</span>
                                <span class="label label-primary" id="new_bids">0</span>
                            </a>
                        </li>
                        <li><a href="{{ path(['site/stats']) }}">Статистика</a></li>
                        <li>
                            <a href="{{ path(['site/logs']) }}">
                                Системные Логи
                                <span class="label label-danger" id="errors">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(['site/test']) }}">Тестирование бота</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <button class="btn btn-primary" id="reload">Обновление</button>
                    </form>
                    {% if not app.user.isGuest %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path(['site/logout']) }}">Выход</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% if app.session.hasFlash('alert') %}
        {% set alert = app.session.getFlash('alert') %}
        {{ alert_widget({'options': {'class': 'alert-'~alert.type}, 'body': alert.msg}) }}
        {% endif %}
        <div class="alert_placeholder"></div>
        <div class="col-lg-12">
            <div class="panel panel-default panel-content">
                <div class="panel-heading">{{this.title | raw}}</div>
                <div class="panel-body">
                    {{ content | raw }}
                </div>
            </div>
        </div>
    </div>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    {{ this.endBody() }}
    <script>
    var sound_alert = {{this.params['sound_alert']}};
    var sound_on = 0;
    var debug = 1;
    var is_new_event = 0;
    var ls_data = loadData();
    var events = {};
    var msg = '';
    var is_guest = {{app.user.isGuest}};
    function saveData(data) {
        localStorage.data = JSON.stringify(data);
    }

    function loadData() {
        var data = localStorage.data || false;
        if(data) {
            return JSON.parse(data);
        } else {
            return {'reload' : 0};
        }
    }

    $(document).ready(function() {
        if(!is_guest) {
            setInterval(getNewEvents, 1000);
            setInterval(updateBadges, 1000);
            setInterval(reloadPage, 30000);
        }
        function updateReloadButton() {
            if(ls_data['reload']) {
                $('#reload').html('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Обновление');
            } else {
                $('#reload').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Обновление');
            }
        }
        updateReloadButton();

        $('#reload').click(function(e){
            e.preventDefault();
            ls_data['reload'] = !ls_data['reload'];
            if(debug) {
                console.log('toggle reload');
            }
            saveData(ls_data);
            updateReloadButton();
        });

        function reloadPage() {
            if(debug) {
                console.log('reload time');
            }
            if(ls_data['reload']) {
                location.reload();
            } else {
                if(debug) {
                    console.log('reload off');
                }
            }
        }

        function makeNoise() {
            if(!sound_alert) { return; }
            if(sound_on) { return; }
            var audio = new Audio('alert.mp3');
            audio.loop = true;
            audio.play();
            sound_on = 1;
        }
        function makeAlertMsg() {
            $('.alert_placeholder').html('<div class="alert alert-info alert-dismissible" role="alert">' +
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span' + 'aria-hidden="true">&times;</span></button>' + msg + '</div>');
        }
        function updateBadges() {
            if(debug) {
                console.log('update bages');
            }
            if(!is_new_event) {
                if(debug) {
                    console.log('no new events');
                }
                return;
            }
            is_new_event = 0;
            var errors = 0;
            var bids = 0;
            var sound = 0;
            msg = '';
            if(debug) {
                console.log('upev',events);
            }
            $.each(events, function(i, v){
                console.log('i',i,'v',v);
                if(v.indexOf('error') != -1) {
                    errors++;
                } else {
                    if(v.indexOf('bid_selled') != -1 || v.indexOf('bid_partial_selled') != -1) {
                        sound = 1;
                    }
                    bids++;
                }
            });
            if(debug) {
                console.log('bids',bids,'errors',errors);
            }
            if(errors != 0) {
                msg += 'Новая ошибка в логах<br/>';
            }
            if(bids != 0) {
                msg += 'Новое событие в заявках<br/>';
            }
            $('#new_bids').text(bids);
            $('#errors').text(errors);
            if(sound) {
                makeNoise();
            }
            makeAlertMsg();
        }
        function getNewEvents() {
            if(debug) {
                console.log('check for new events');
            }
            $.get('{{path(['site/get-events'])}}', function(new_events){
                new_events = JSON.parse(new_events);
                if(debug) {
                    console.log('new events', new_events);
                }
                $.each(new_events, function(i, v){
                    if(!events[i]) {
                        is_new_event = 1;
                        events[i] = v;
                    }
                });
            });
            if(debug) {
                console.log('events', events);
            }
        }
    });
    </script>
</body>
</html>
{{ this.endPage() }}
