{% macro show(orders, ref) %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Время</th>
            <th>Направление</th>
            <th>Номер заявки</th>
            <th>Есть сумма</th>
            <th>Нужна сумма</th>
            <th>Курс</th>
            <th>Обратный курс</th>
            <th>Дифф</th>
            <th>Позиция</th>
            <th>Статус</th>
            <th>Тип</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{order.time | round | date('Y-m-d H:i:s')}}</td>
            <td>{{order.first_currency}} => {{order.second_currency}}</td>
            <td><a href="{{links('bid', order.bid_id)}}" target="_blank">{{order.bid_id}}</a></td>
            <td>{{order.first_sum}}</td>
            <td>{{order.second_sum}}</td>
            <td>{{order.rate}}</td>
            <td>{{order.revert_rate}}</td>
            <td>{{order.diff}}</td>
            <td>{{order.position}}</td>
            <td>{{rus(order.status)}}</td>
            <td>{{rus(order.type)}}</td>
            <td>
                {% if order.type == 'handmade' %}
                <a href="{{ path('site/test', {'bid_id': order.bid_id}) }}" class="btn btn-info">Изменить значения</a>
                {% endif %}
                <a href="{{ path('site/cancel-bid', {'bid_id': order.bid_id, 'ref': ref}) }}" class="btn btn-danger" onclick = "return confirm('Отменить заявку? № {{order.bid_id}}');">Отменить</a>
                <a href="{{ path('site/history-detail', {'bid_id': order.bid_id}) }}" class="btn btn-primary">История</a>
                <a href="{{ path('site/change-type', {'bid_id': order.bid_id, 'ref': ref}) }}" class="btn btn-warning">Сделать {{order.type == 'handmade' ? 'авто' : 'ручной'}}</a>
                <a href="{{ path('site/change-diff', {'bid_id': order.bid_id, 'ref': ref}) }}" class="btn btn-default">Поменять дифф</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
