{% set title = 'Настройки' %}
{{ set(this, 'title', title) }}
{{ use('yii/widgets/ActiveForm') }}
<div class="col-sm-4">
{% set form = active_form_begin({'id': 'config-form'}) %}
{{ form.field(config, 'first_currency').dropDownList(currency_list) | raw }}
{{ form.field(config, 'first_sum') | raw }}
{{ form.field(config, 'second_currency').dropDownList(currency_list|reverse) | raw }}
{{ form.field(config, 'frequency').dropDownList(frequency_list) | raw }}
{{ form.field(config, 'diff') | raw }}
{{ form.field(config, 'diff_abs') | raw }}
{{ form.field(config, 'sound').checkBox() | raw }}
{{ form.field(config, 'parsing').hiddenInput({'value': config.parsing}).label(false) | raw }}
{{ form.field(config, 'trading').hiddenInput({'value': config.trading}).label(false) | raw }}
</div>
<div class="col-sm-1">
</div>
<div class="col-sm-4">
{{ form.field(config, 'wmid') | raw }}
{{ form.field(config, 'wmz') | raw }}
{{ form.field(config, 'wmr') | raw }}
<button class="btn btn-success">Сохранить</button>
{{ active_form_end() }}
</div>
