{% set title = '<b>История заявки:</b> <a href="' ~ links('bid', order.bid_id) ~ '" target="_blank">' ~ order.bid_id ~ '</a> <b>Тип:</b> ' ~ rus(order.type) ~ ' <b>Направление:</b> ' ~ order.first_currency ~ ' => ' ~ order.second_currency ~ ' <b>Лучший курс WMR:</b> ' ~ this.params['wmr'] ~ ' <b>Лучший курс WMZ:</b> ' ~ this.params['wmz'] %}
{{ set(this, 'title', title) }}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Время</th>
            <th>Есть сумма</th>
            <th>Нужна сумма</th>
            <th>Курс</th>
            <th>Обратный курс</th>
            <th>Дифф</th>
            <th>Курс Яху</th>
            <th>Позиция</th>
            <th>Статус</th>
            <th>Событие</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in history %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{entry.time | round | date('Y-m-d H:i:s')}}</td>
            <td>{{entry.first_sum}}</td>
            <td>{{entry.second_sum}}</td>
            <td>{{entry.rate}}</td>
            <td>{{entry.revert_rate}}</td>
            <td>{{entry.diff}}</td>
            <td>{{entry.ya_rate}}</td>
            <td>{{entry.position}}</td>
            <td>{{rus(entry.status)}}</td>
            <td>{{entry.msg | raw}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
