{% set title = 'Изменение диффа' %}
{{ set(this, 'title', title) }}
{{ use('yii/widgets/ActiveForm') }}
{% set form = active_form_begin({'id': 'diff-form'}) %}
<div class="col-sm-4">
{{ form.field(order, 'diff').label('Дифференциал') | raw }}
<button class="btn btn-success">Изменить дифф</button>
</div>
{{ active_form_end() }}
