{% set title = 'Заявки' %}
{{ set(this, 'title', title) }}
{{ use('yii/widgets/LinkPager') }}
{% import '_orders.twig' as orders_view %}
<div class="col-sm-12">
    <div class="panel panel-default panel-content">
        <div class="panel-heading">Активные заявки</div>
        <div class="panel-body">
            {% if live_orders %}
                {{ orders_view.show(live_orders, 'history') }}
            {% else %}
                Нет активных заявок
            {% endif %}
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="panel panel-default panel-content">
        <div class="panel-heading">Исполненные\Отмененные заявки</div>
        <div class="panel-body">
            {% if orders %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Время</th>
                        <th>Направление</th>
                        <th>Номер заявки</th>
                        <th>Есть сумма</th>
                        <th>Нужна сумма</th>
                        <th>Курс</th>
                        <th>Обратный курс</th>
                        <th>Дифф</th>
                        <th>Позиция</th>
                        <th>Статус</th>
                        <th>Тип</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{order.time | round | date('Y-m-d H:i:s')}}</td>
                        <td>{{order.first_currency}} => {{order.second_currency}}</td>
                        <td><a href="{{links('bid', order.bid_id)}}" target="_blank">{{order.bid_id}}</a></td>
                        <td>{{order.first_sum}}</td>
                        <td>{{order.second_sum}}</td>
                        <td>{{order.rate}}</td>
                        <td>{{order.revert_rate}}</td>
                        <td>{{order.diff}}</td>
                        <td>{{order.position}}</td>
                        <td>{{rus(order.status)}}</td>
                        <td>{{rus(order.type)}}</td>
                        <td>
                            <a href="{{ path('site/history-detail', {'bid_id': order.bid_id}) }}" class="btn btn-primary">История</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ link_pager_widget({'pagination': pages}) }}
            {% else %}
                Нет Исполненных\Отмененных заявок
            {% endif %}
        </div>
    </div>
</div>
