{% set title = 'Главная' %}
{{ set(this, 'title', title) }}
{% import '_orders.twig' as orders_view %}
{% if orders is not empty %}
<div class="col-sm-12">
{{orders_view.show(orders, 'index')}}
</div>
{% endif %}
<div class="col-sm-4">
Статусы:<br/>
Парсинг: {{ config.parsing ? 'Работает' : 'Остановлен' }}
<br/>
<a href="{{ path('site/change-status', {'mode': 'parsing', 'status': config.parsing ? 0 : 1}) }}" class="btn btn-{{ config.parsing ? 'danger' : 'success' }}">
{{ config.parsing ? 'Остановить' : 'Запустить' }}
</a>
<br/>
Торговля: {{ config.trading ? 'Работает' : 'Остановлена' }}
<br/>
<a href="{{ path('site/change-status', {'mode': 'trading', 'status': config.trading ? 0 : 1}) }}" class="btn btn-{{ config.trading ? 'danger' : 'success' }}">
{{ config.trading ? 'Остановить' : 'Запустить' }}
</a>
<br/>
</div>
