<div class="panel panel-default panel-content">
    <div class="panel-heading">Вход в систему</div>
    <div class="panel-body">
        <div class="col-md-4">
            {{ use('yii/widgets/ActiveForm') }}
            {% set form = active_form_begin({
            'id' : 'portal-form',
            'options' : {'class' : 'form-horizontal'},
            }) %}
            {{ form.field(model, 'username') | raw }}
            {{ form.field(model, 'password') | raw }}
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary" />
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>
