{% set title = 'Системные логи [Количество: ' ~ logs_count ~ ']' %}
{{ set(this, 'title', title) }}
{{ use('yii/widgets/LinkPager') }}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Время</th>
            <th>Описание</th>
            <th>Источник</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr
        {% if log.type is constant('\\app\\models\\Logs::SYSTEM_SUCCESS') %}
        class="success"
        {% elseif log.type is constant('\\app\\models\\Logs::SYSTEM_ERROR') %}
        class="danger"
        {% endif %}
        >
        <td>{{loop.index}}</td>
        <td>{{log.time | round | date('y-m-d h:i:s')}}</td>
        <td>{{log.msg}}</td>
        <td>{{log.tag}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{{ link_pager_widget({'pagination': pages}) }}
