{% set title = 'Статистика [Количество записей: ' ~ stats_count ~ ' ]' %}
{{ set(this, 'title', title) }}
{{ use('yii/widgets/LinkPager') }}
{{ use('yii/jui/DatePicker') }}
{{ use('janisto/timepicker/TimePicker') }}

<div class="col-sm-12">
    <div class="panel panel-default panel-content">
        <div class="panel-heading">Инструменты</div>
        <div class="panel-body">
            <div class="col-sm-10">
                <form action="" method="get">
                    <div class="col-sm-6">
                    <input type="hidden" name="r" value="site/stats">
                    <b>Даты:</b><br/>
                    <b>От:</b>
                    {{ date_picker_widget({'name': 'from', 'value': from, 'language': 'ru', 'dateFormat': 'dd-MM-yyyy', 'options': {'class': 'form-control'}}) }}
                    <br/>
                    <b>До:</b>
                    {{ date_picker_widget({'name': 'to', 'value': to, 'language': 'ru', 'dateFormat': 'dd-MM-yyyy', 'options': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-6">
                    <b>Время:</b><br/>
                    <b>От:</b>
                    {{ time_picker_widget({'name': 'time_from', 'value': time_from, 'language': 'ru', 'mode': 'time', 'clientOptions':{'showMinute': false}}) }}
                    <br/>
                    <b>До:</b>
                    {{ time_picker_widget({'name': 'time_to', 'value': time_to, 'language': 'ru', 'mode': 'time','clientOptions':{'showMinute': false}}) }}
                    <br/>
                    <button class="btn btn-info">Отфильтровать</button>
                </div>
                </form>
            </div>
            <div class="col-sm-2">
                <a href="{{ path('site/export-stats', {'from': from, 'to': to, 'time_from': time_from, 'time_to': time_to}) }}" class="btn btn-success">
                    Выгрузка в Excel
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Время</th>
                <th><a href="{{ links('wm', 0) }}" target="_blank">Курс лучшей заявки WMZ</a></th>
                <th><a href="{{ links('wm', 1) }}" target="_blank">Курс лучшей заявки WMR</a></th>
                <th><a href="{{ links('ya', 0) }}" target="_blank">Курс Yahoo finance</a></th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats.entries %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{stat.time | date('d.m.Y H:i')}}</td>
                <td>{{stat.wmz}}</td>
                <td>{{stat.wmr}}</td>
                <td>{{stat.ya}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">Среднее:</td>
                <td>{{stats.avg.wmz}}</td>
                <td>{{stats.avg.wmr}}</td>
                <td>{{stats.avg.ya}}</td>
            </tr>
        </tbody>
    </table>
    {{ link_pager_widget({'pagination': pages}) }}
</div>
