{% set title = 'Ручное тестирование бота' %}
{{ set(this, 'title', title) }}
{{ use('yii/widgets/ActiveForm') }}
{% import '_orders.twig' as orders_view %}
{% if orders is not empty %}
<div class="col-sm-12">
{{ orders_view.show(orders, 'test') }}
</div>
{% endif %}
{% set form = active_form_begin({'id': 'test-form'}) %}
<div class="col-sm-4">
{{ form.field(testing, 'first_currency').dropDownList(currency_list, {'disabled': bid_id ? true : false}) | raw }}
{{ form.field(testing, 'second_currency').dropDownList(currency_list|reverse, {'disabled': bid_id ? true : false}) | raw }}
{{ form.field(testing, 'rate').textInput({'readonly': true}) | raw }}
{{ form.field(testing, 'revert_rate').textInput({'readonly': true}) | raw }}
</div>
<div class="col-sm-4">
{{ form.field(testing, 'first_sum').textInput({'readonly': bid_id ? true : false}) | raw }}
{{ form.field(testing, 'second_sum') | raw }}
<button class="btn btn-success">{{ bid_id ? 'Изменить заявку' : 'Создать заявку' }}</button>
</div>
{{ active_form_end() }}
<script>
$(document).ready(function(){
    $("#testform-first_sum,#testform-second_sum").keyup(function() {
        recount();
    }).keyup();

    function recount() {
        var first_sum = parseFloat($('#testform-first_sum').val());
        var second_sum = parseFloat($('#testform-second_sum').val());
        if(first_sum && second_sum) {
            $('#testform-rate').val(roundNumber(first_sum/second_sum, 4));
            $('#testform-revert_rate').val(roundNumber(second_sum/first_sum, 4));
        }
    }
    function roundNumber(num, dec) {
        var result = Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
        return result;
    }
});
</script>
